/root/repo/alx-backend-user-data/0x01-Basic_authentication/archive
/root/repo/alx-backend-user-data/0x01-Basic_authentication/tst.py
/root/repo/alx-backend-user-data/0x01-Basic_authentication/auth
/root/repo/alx-backend-user-data/0x01-Basic_authentication/main_0.py